
body {
    background-color: #dedede;
}

.topbar {
    background: #1f2021;
    border-color: #1f2021;
    border-radius: 0px;
}

.topbar .navbar-header a {
    color: #777;
}

.wrapper {
    padding-left: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar {
    z-index: 1000;
    position: fixed;
    top: 50px;
    left: -50px;
    width: 50px;
    height: 100%;
    overflow-y: auto;
    background: #1f2021;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.main {
    width: 100%;
    padding-bottom:20px;
}

.wrapper.toggled {
    padding-left: 50px;
}

.wrapper.toggled .sidebar {
    left: 0;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 52px;
    width: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    line-height: 40px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #e8e8e8;
    padding: 0;
    text-align:center;
}

.sidebar-nav li a:hover, .sidebar-nav li.active a {
    text-decoration: none;
    color: #fff;
    background: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav li span, .subbar li span {
    display : none;
}

nav.subbar {
    position: relative;
    width: 100%;
    border-radius: 0px;
    background: #fff;
    margin: 50px 0 -50px 0;
    padding: 10px 0 0 0;
    z-index: 2;
}
nav.subbar > ul.nav.nav-tabs {
    padding: 0 5px;
}

nav.subbar > ul.nav.nav-tabs > li.active > a {
    background: #dedede;
    border-top: 1px solid #a6a6a6;
    border-left: 1px solid #a6a6a6;
    border-right: 1px solid #a6a6a6;
    border-radius: 0px;
}

.content {
    margin-top: 70px;
    padding: 0 30px;
}

@media(min-width:768px){
    .subbar li span {
        display: inline;
    }
}

@media(min-width:992px) {
    .wrapper {
        padding-left: 50px;
    }

    .sidebar {
        left: 0;
        width: 50px;
    }

    .wrapper.toggled {
        padding-left: 200px;
    }

    .wrapper.toggled .sidebar, .wrapper.toggled .sidebar-nav {
        width: 200px;
    }

    .wrapper.toggled .sidebar-nav li a {
        text-align: left;
        padding: 0 0 0 10px;
    }

    .wrapper.toggled .sidebar-nav li span {
        display: inline;
    }

}

.navbar-btn {
    background: none;
    border: none;
    height: 35px;
    min-width: 35px;
    color: #fff;
}
.navbar-text {
    margin-top: 14px;
    margin-bottom: 14px;
}
@media (min-width: 768px) {
    .navbar-text {
        float: left;
        margin-left: 15px;
        margin-right: 15px;
    }
}

#adminNavbar {
    height: 51px;
}

nav[role="admin"].topbar {
    background: #1f2021;
    border: none;
    margin-bottom: 0;
    z-index: 9999;
    height: 51px;
}

nav[role="admin"].navbar-fixed-bottom, nav[role="admin"].navbar-fixed-top {
    position: relative;
}

nav[role="admin"].topbar, nav[role="admin"].navbar-header a {
    color: #ffffff;
}

nav[role="admin"] .navbar-btn {
    background: none;
    border: none;
    height: 35px;
    min-width: 35px;
    color: #fff;
}

nav[role="admin"] .navbar-text {
    margin-top: 14px;
    margin-bottom: 14px;
}

nav[role="admin"] .button {
    margin-right: 5px!important;
}


.position {
    padding-top: 6px;
}

nav[role="admin"] .buttons a {
    color: white;
}

nav[role="admin"] .navbar-header {
    float: left;
    padding: 0;
    text-align: left;
    width: 100%;
    margin-right: -15px;
    margin-left: -15px;

}

nav[role="admin"] .nav {
    background: none;
}

nav[role="admin"] .navbar-brand {
    float: left;
    margin-left: 0;
    height: 40px;
    padding-left: 50px;
}

.navbar-btn img {
    height: 30px;
    width: 30px;
}