body {
	margin: auto;
	position: relative;
	height: 100%;
	touch-action: manipulation;
	user-select: none;
}

.stuff {
	width:90%;
	height: 50%;
	text-align: center;
	margin:auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

h1, h2, h3 {
	font-family: 'Mali', cursive;
}


.question-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.question-container button {
	width: 40%;
	align-self: center;
	background: transparent;
	padding: 1rem 1rem;
	margin: 0 1rem;
	transition: all 0.2s ease-in-out;
	color: #41403e;
	font-size: 2em;
	letter-spacing: 1px;
	outline: none;
	box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	border: solid 7px #41403e;
	margin-bottom: 21px;
	cursor: pointer;
}

.question-container button:hover {
	transform: scale(1.1);
}

.question-container button:active {
	box-shadow: none;
}

#header {
	border-radius: 65px;
	transition: transform .1s cubic-bezier(0.82, -0.21, 0.26, 1.01);
}

#header:active {
	transform: scale(1.1);
}

.achievement-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

@keyframes plup {
	0% {transform: scale(1);}
	50% {transform: scale(1.1);}
	100% {transform: scale(1);}
}

.achievement {
	color: white;
	display: none;
	position: fixed;
	top: 0;
	width: 60%;
	background: #464643;
	left: 50%;
	transform: translateX(-50%);
	border: 8px solid #31312e;
	border-top: 0px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	font-family: 'Mali', cursive;
}

.achievement-p {
	color: white;
	top: 0;
	width: 388px;
	background: #464643;
	border: 8px solid #31312e;
	border-radius: 20px;
	font-family: 'Mali', cursive;
	margin-bottom: 2px;
	margin-left: 2px;
	text-align: center;
}

.achievement .h3 {
	margin-top: 12px;
	margin-bottom: -12px;
}

.achievement-page {
	width: 100%;
	background: white;
	display: none;
	position: fixed;
	max-height: 70px;
	bottom: 50px;
	transition: all .8s cubic-bezier(0, 0.26, 0.11, 0.99);
	border-radius: 124px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.achievement-page h2 {
	text-align: center;
}

.achievements-open {
	max-height: 2000px;/*700px*/
	background-color: #03A9F4;
	bottom: 0px;
	padding-bottom: 30px;
	transition: all .8s cubic-bezier(0.850, -0.250, 0.250, 1.425)
}

.shop {
	display: none;
	position: fixed;
	top: 40px;
	right: 45px;
	font-size: 80px;
}

@media (min-width: 768px) {
	body {
		font-size: 2em;
	}

}
